$indigo: #845aff;
$white: #ffffff;
$dark: #080e10;
$green: #00dc93;
$main: #E1C340;
$gradient: linear-gradient(203deg, rgb(225, 195, 64) 0%, rgb(22, 29, 3) 100%);
$gradient2: linear-gradient(250deg, rgba(225, 195, 64, 1) 24%, rgb(52, 255, 187) 100%);

.green {
  color: $green;
}
.indigo {
  color: $indigo;
}
